NEXT_PUBLIC_SUPABASE_URL=https://qdptyvmrraupfymofygs.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_OapM4OgMlyO-iC_kZNRQIw_fl1tNaUw
SUPABASE_SERVICE_ROLE_KEY=sb_secret_yI-FWFQ7_UcBwYuMcLslBA_Ugg3PtCC

NEXT_PUBLIC_SITE_URL=https://wyyyh.online